In [1]:
import numpy as np

In [2]:
from sklearn.preprocessing import MinMaxScaler

In [3]:
data = np.random.randint(0,100,(10,2))

In [4]:
data

array([[60, 57],
       [88, 86],
       [80, 88],
       [48, 52],
       [57, 87],
       [26, 45],
       [40, 99],
       [61, 91],
       [34,  8],
       [51, 37]])

In [5]:
scaler_model = MinMaxScaler()

In [6]:
type(scaler_model)

sklearn.preprocessing.data.MinMaxScaler

In [7]:
scaler_model.fit(data)

/home/mandana/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [8]:
scaler_model.transform(data)

array([[0.5483871 , 0.53846154],
       [1.        , 0.85714286],
       [0.87096774, 0.87912088],
       [0.35483871, 0.48351648],
       [0.5       , 0.86813187],
       [0.        , 0.40659341],
       [0.22580645, 1.        ],
       [0.56451613, 0.91208791],
       [0.12903226, 0.        ],
       [0.40322581, 0.31868132]])

In [9]:
scaler_model.fit_transform(data) # perform both 2 steps in one step
# usually we fit only the train data and then transform train and test data both

/home/mandana/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

array([[0.5483871 , 0.53846154],
       [1.        , 0.85714286],
       [0.87096774, 0.87912088],
       [0.35483871, 0.48351648],
       [0.5       , 0.86813187],
       [0.        , 0.40659341],
       [0.22580645, 1.        ],
       [0.56451613, 0.91208791],
       [0.12903226, 0.        ],
       [0.40322581, 0.31868132]])

In [10]:
import pandas as pd

In [11]:
mydata = np.random.randint(0,101,(50,4))

In [12]:
mydata

array([[ 64,   6,   0,  84],
       [ 10,  37,  78,  94],
       [ 61,  35,  98,  83],
       [ 35,  50,   5,  82],
       [ 56,  66,  45,  20],
       [ 29,  99,  83,  62],
       [ 23,  49,  38,   4],
       [ 77,  26,  64,   8],
       [ 10,  17,  95,  16],
       [ 52,  94,  40,   6],
       [ 87,  87,  99,   4],
       [ 77,  83,   0,  22],
       [ 16,  96,  25,  53],
       [ 93,   0,  25,  18],
       [ 17,  53,  68,  28],
       [ 46,  70,  87,  34],
       [ 14,   7,  82,  19],
       [ 92,   6,  55, 100],
       [ 21,  91,  57,  62],
       [ 10,  59,  85,  64],
       [ 41,  18,   0, 100],
       [ 59,  86,  20,  55],
       [ 23,  39,  83,   3],
       [ 88,  52,  94,  61],
       [ 92,  15,  17,  12],
       [ 90,  47,   5,  36],
       [ 48,  77,  31, 100],
       [ 99, 100,  32,  69],
       [ 78, 100,  55,   8],
       [ 67,  78,  86,  96],
       [ 30,  20,  75,   4],
       [ 61,   0,  12,  59],
       [ 98,  21,   2,  29],
       [ 45,   9,  31,  79],
       [ 33,  83,  53,  18],
       [ 56,  67,  65,  14],
       [ 49,  87,  79,  74],
       [ 65,  53,  59,  38],
       [ 81,  59,  38,  91],
       [ 36,  23,   5,  53],
       [ 95,  40,   5,  72],
       [ 16,  85,  67,   2],
       [ 46,  61,  34,   8],
       [ 46,  86,  96,  82],
       [ 88,   9,   1,  55],
       [ 98,  67,  27,  87],
       [ 27,  59,  98,  56],
       [ 64,  59,  29,   3],
       [ 45,  58,  53,  67],
       [ 49,  30,   5,   3]])

In [17]:
df = pd.DataFrame(data =mydata, columns = ['f1', 'f2', 'f3', 'label' ])

In [18]:
df

    f1   f2  f3  label
0   64    6   0     84
1   10   37  78     94
2   61   35  98     83
3   35   50   5     82
4   56   66  45     20
5   29   99  83     62
6   23   49  38      4
7   77   26  64      8
8   10   17  95     16
9   52   94  40      6
10  87   87  99      4
11  77   83   0     22
12  16   96  25     53
13  93    0  25     18
14  17   53  68     28
15  46   70  87     34
16  14    7  82     19
17  92    6  55    100
18  21   91  57     62
19  10   59  85     64
20  41   18   0    100
21  59   86  20     55
22  23   39  83      3
23  88   52  94     61
24  92   15  17     12
25  90   47   5     36
26  48   77  31    100
27  99  100  32     69
28  78  100  55      8
29  67   78  86     96
30  30   20  75      4
31  61    0  12     59
32  98   21   2     29
33  45    9  31     79
34  33   83  53     18
35  56   67  65     14
36  49   87  79     74
37  65   53  59     38
38  81   59  38     91
39  36   23   5     53
40  95   40   5     72
41  16   85  67      2
42  46   61  34      8
43  46   86  96     82
44  88    9   1     55
45  98   67  27     87
46  27   59  98     56
47  64   59  29      3
48  45   58  53     67
49  49   30   5      3

In [20]:
X = df[['f1','f2','f3']] #only feature columns

In [21]:
y = df['label']

In [22]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)